<div class="info-panel-content">
    <div class="info-panel-title d-flex justify-content-between">
        <p style="font-size: 0.8rem; padding-left: 10px;">
            {{title}}
        </p>
        <i class="fa fa-address-card-o fa-xs" aria-hidden="true" style="position: relative; top: 15px; right: 10px;"></i>
    </div>
    <div class="info-panel-body">
        <p style="padding-left: 10px;margin-top: 0; font-size: 0.7rem; position: relative; bottom: 5px;">
            {{value}}
        </p>
    </div>
</div>
