
<h1 style="background-color:lavenderblush;">BumbleBee</h1>
<div class="container">
    <div class="row">
        <app-info-panel class="info-panel panel"></app-info-panel>
        <app-info-panel class="info-panel panel"></app-info-panel>
        <app-info-panel class="info-panel panel"></app-info-panel>   
    </div>
    <div class="row" style="overflow-y: hidden;">
        <app-map-panel class="map-panel panel"></app-map-panel>
        <app-weather-panel class="weather-panel panel"></app-weather-panel>
    </div>
    <div class="row" style="background-color: rgb(255, 255, 255);">
        <app-table-panel class="table-panel panel"></app-table-panel>
    </div>
</div>



