
<div style="border-bottom: solid 1px darkgrey;">
    <img  src="../../assets/beelogo.jpg"  alt="...">

</div>

<div  style="margin-top: 20px;" class="container justify-content-center">
    <div class="row">
        <app-info-panel [title]="'TOTAL DISTANCE'" class="info-panel panel"></app-info-panel>
        <app-info-panel [title]="'TOTAL REPETITIONS'" class="info-panel panel"></app-info-panel>
        <app-info-panel class="info-panel panel"></app-info-panel>   
    </div>
    <div class="row" style="overflow-y: hidden;">
        <app-map-panel class="map-panel panel"></app-map-panel>
        <app-weather-panel class="weather-panel panel"></app-weather-panel>
    </div>
    <div class="row" style="background-color: rgb(255, 255, 255);">
        <app-table-panel class="table-panel panel"></app-table-panel>
    </div>
</div>
<!--TOTAL DISTANCE TOTAL REPETITIONS TOTAL AREA-->




