<div class="px-20" style="background-color: dimgrey;"><h3 style="margin-left: 50px;" >Bomblebee</h3></div>


<div class="container" style="margin: auto; background-color: lightblue;">
<div class="row justify-content-center " style="background-color: lightslategray; margin-bottom: 20px;">
  <div class="col-auto" style="background-color: rgb(117, 7, 7);">
    <div class="info-panel d-flex flex-column" style="display: block; width: 40px; background-color: lightgoldenrodyellow; width: 200px;">
      <div class="info-panel-title d-flex " style="background-color: lightgray;">
        <p>TOTAL DISTANCE</p>
        <p style="margin-left: auto ;">icon</p>
      </div>
      <div class="info-panel-body" style="background-color: lightgreen;"> 
        <p>21 456</p>
      </div>
    </div>
  
  </div>
  <div class="col-auto" style="background-color: rgb(167, 14, 14);">
    <div class="info-panel d-flex flex-column" style="display: block; width: 40px; background-color: lightgoldenrodyellow; width: 200px;">
      <div class="info-panel-title d-flex " style="background-color: lightgray;">
        <p>TOTAL REPETITIONS</p>
        <p style="margin-left: auto ;">icon</p>
      </div>
      <div class="info-panel-body" style="background-color: lightgreen;">
        <p>21 338</p>
      </div>
    </div>
  
  </div>
  <div class="col-auto" style="background-color: rgb(117, 7, 7);">
    <div class="info-panel d-flex flex-column" style="display: block; width: 40px; background-color: lightgoldenrodyellow; width: 200px;">
      <div class="info-panel-title d-flex " style="background-color: lightgray;">
        <p>TOTAL AREA</p>
        <p style="margin-left: auto ;">mi</p>
      </div>
      <div class="info-panel-body" style="background-color: lightgreen;">
        <p>22 345</p>
      </div>
    </div>
  
  </div>
</div>

<!--  row 2 -->

<div class="row justify-content-center" style="background-color: mediumslateblue; margin-bottom: 20px;">
  <!--<div class="map-panel">map</div>
  <div class="weader-panel">weader</div>
  -->
  <div class="col-auto" style="background-color: rgb(117, 7, 7);">
    <div class="info-panel d-flex flex-column" style="display: block;  background-color: rgb(187, 187, 125); height: 200px; width: 440px;">
      <div class="info-panel-title d-flex " style="background-color: lightgray;">
        <h3>RECENT POLLINATION AREA</h3>
        <p style="margin-left: auto ;">icon</p>
      </div>
      <div class="info-panel-body" style="background-color: lightgreen;">


        
      </div>
    </div>
  
  </div>
  <div class="col-auto" style="background-color: rgb(117, 7, 7);">
    <div class="info-panel d-flex flex-column" style="display: block; background-color: lightgoldenrodyellow; width: 200px; height: 100%;">
      <div class="info-panel-title d-flex " style="background-color: lightgray;">
        <h5>WEATHER FORECAST</h5>
      </div>
      <div class="info-panel-body" style="background-color: rgb(255, 255, 255);">

      </div>
    </div>
  
  </div>
</div>

<!--  row 3 -->

<div class="row justify-content-center" style="background-color: rgb(169, 156, 245);">
  <!--<div class="map-panel">map</div>
  <div class="weader-panel">weader</div>
  -->
  <div class="col-auto" style="background-color: rgb(117, 7, 7);">
    <div class="info-panel d-flex flex-column" style="display: block;  background-color: lightgoldenrodyellow; width: 680px;">
      <div class="info-panel-title d-flex " style="background-color: lightgray;">
        <p>hi</p>
        <p style="margin-left: auto ;">mi1</p>
      </div>
      <div class="info-panel-body" style="background-color: lightgreen;">
        <p>pi</p>
      </div>
    </div>
  
  </div>
  <!-- try new row 3-->
  <div class="row justify-content-center" style="background-color: rgb(169, 156, 245);">
    <!--<div class="map-panel">map</div>
    <div class="weader-panel">weader</div>
    -->
    <div class="col-auto" style="background-color: rgb(117, 7, 7);">
      <div class="table-panel" style=" background-color: rgb(255, 255, 255); width: 680px;">
        <div class="table-panel-title">
          <h3>RECENT ACTIVITY</h3>
        </div>
        <div class="table-panel-body " style="background-color: lightgray;">
          <table class="table table-light" >
            <thead>
              <tr>   
                <th  class="text-center" scope="col">ID</th>
                <th scope="col" class="text-center">FIELD NAME</th>
                <th scope="col" class="text-center">POLLINATION TIME</th>
                <th scope="col" class="text-center">AVERAGE DAILY TEMP & UMIDITY</th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">XYZ</td>
                <td class="text-center">takle prosem</td>
                <td class="text-center">24/12/20 - 10:44:02</td>
                <td class="text-center">34.2'C/45%</td>
                <td class="text-center">></td>
              </tr>
              <tr>
                <td class="text-center">XYZ</td>
                <td class="text-center">Jacob Hadad</td>
                <td class="text-center">24/12/20 - 10:44:02</td>
                <td class="text-center">34.2'C/45%</td>
                <td class="text-center">></td>
              </tr>
              <tr>
                <td  class="text-center">XYZ</td>
                <td class="text-center">Larry prosem</td>
                <td class="text-center">24/12/20 - 10:44:02</td>
                <td class="text-center">34.2'C/45%</td>
                <td>></td>
              </tr>
              <tr>
                <td  class="text-center">XYZ</td>
                <td class="text-center">Mshe Hamed</td>
                <td class="text-center">24/12/20 - 10:44:02</td>
                <td class="text-center">34.2'C/45%</td>
                <td>></td>
              </tr>
            </tbody>
          </table>
        
        </div>
       
      </div>
    
    </div>
</div>


</div>
<div>
  <h1>heliiii</h1>
</div>
<div class="container " style="background-color: rosybrown; padding-left: 130px; padding-right: 130px;  ">
  <div class="row" style="background-color: salmon;  height: fit-content;">
    <div class="col col-4  "> 
      <div class="card border-secondary rounded-0 p-2 " style="width: fit-content;">
        <div class="card-body p-0 " >
          <h5 class="card-title mb-0">
            <div style="display: flex; justify-content: space-between;">
              <p class="mb-0" style="font-size: 0.7em;">TOTAL DISTANCE</p>
              
            </div> 
            
          </h5>
      
          <p class="card-text " style="font-size: 0.7em;">21 8990</p>

        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="card border-secondary rounded-0" >
        <div class="card-body p-0">
          <h5 class="card-title ">
            <div style="display: flex; justify-content: space-between;">
              <p class="mb-0" style="font-size: 0.8em;">TOTAL REPETITIONS</p>
              
            </div>
          </h5>
      
          <p class="card-text" style="font-size: 0.7em;">21 8990</p>

        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="card border-secondary rounded-0"  >
        <div class="card-body p-0">
          <h5 class="card-title  ">
            <div style="display: flex; justify-content: space-between;">
              <p class="mb-0" style="font-size: 0.8em;">TOTAL AREA</p> 
            </div>
          </h5>
      
          <p class="card-text" style="font-size: 0.7em;">21 8990</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color: skyblue; height:250px;" >
    <div class="col col-8">
      <div class="card border-secondary rounded-0 "   >
        <div class="card-body pb-0 px-0">
          <h5 class="card-title">
            <div  style="display: flex; justify-content: space-between; ">
              <p class=" mb-0 ml-4">RECENT POLLINATION AREA</p> 
              <i class="fas fa-pen fa-pen-indicateur mr-4"  >icon</i>
            </div>
        </h5>
      
        <img src="https://www.apple.com/newsroom/images/product/apps/standard/Apple_Maps_01302020_LP_hero.jpg.og.jpg" class="card-img-bottom" alt="...">

        </div>
      </div>

    </div>
    <div class="col col-4">
      <div class="card border-secondary rounded-0" style="height: 100%;"   >
        <div class="card-body px-0 pb-0">
          <h5 class="card-title ml-4">WEATHER FORECAST</h5>
      
          <img style="min-height: 100%;"  src="https://www.apple.com/newsroom/images/product/apps/standard/Apple_Maps_01302020_LP_hero.jpg.og.jpg" class="card-img-bottom"  alt="...">


        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color: rgb(135, 235, 143);" >
    <div class="col col-12">
      <div class="card border-secondary rounded-0 mb-3 " >
        <div class="card-body">
          <h5 class="card-title">RECENT ACTIVITY
           
          </h5>
          <div class="p-50px">
          <div class="row "  >
            <div class="col d-flex justify-content-center"  style="background-color: lemonchiffon; ">
            <p style="font-size: 0.7em; ">ID</p>
            
            </div> 
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162); justify-content: flex-end;">
                <p style="font-size: 0.7em;">FIELD NAME</p>
              </div>
            <div class="col d-flex justify-content-center" style="background-color: lemonchiffon; justify-self:end;">
              <p style="font-size: 0.7em;">POLLINATION TIME</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162); ">
              <p style="font-size: 0.7em;">AVERAGE DAILY TEMP & UMIDITY</p>
            </div>
            <div class="col col-1 d-flex justify-content-center" style="background-color: lemonchiffon;"></div>

          </div>
          <div class="row "  >
            <div class="col d-flex justify-content-center"  style="background-color: lemonchiffon; ">
              <p style="font-size: 0.7em;">XYZ</p>
            
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162); justify-content: flex-end;">
              <p style="font-size: 0.7em;">takle prosem</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: lemonchiffon; justify-self:end;">
              <p style="font-size: 0.7em;">24/12/20 - 10:44:02</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162);">
              <p style="font-size: 0.7em;">34.2'C/45%</p>
            </div>
            <div class="col col-1 d-flex justify-content-center" style="background-color: lemonchiffon;">></div>

          </div>
          <div class="row "  >
            <div class="col d-flex justify-content-center"  style="background-color: lemonchiffon; ">
              <p style="font-size: 0.7em;">XYZ</p>
            
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162); justify-content: flex-end;">
              <p style="font-size: 0.7em;">takle prosem</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: lemonchiffon; justify-self:end;">
              <p style="font-size: 0.7em;">24/12/20 - 10:44:02</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162);">
              <p style="font-size: 0.7em;">34.2'C/45%</p>
            </div>
            <div class="col col-1 d-flex justify-content-center" style="background-color: lemonchiffon;">></div>

          </div>
          <div class="row "  >
            <div class="col d-flex justify-content-center"  style="background-color: lemonchiffon; ">
              <p style="font-size: 0.7em;">XYZ</p>
            
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162); justify-content: flex-end;">
              <p style="font-size: 0.7em;">lorem epsum</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: lemonchiffon; justify-self:end;">
              <p style="font-size: 0.7em;">24/12/20 - 10:44:02</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162);">
              <p style="font-size: 0.7em;">34.2'C/45%</p>
            </div>
            <div class="col col-1 d-flex justify-content-center" style="background-color: lemonchiffon;">></div>

          </div>
          <div class="row "  >
            <div class="col d-flex justify-content-center"  style="background-color: lemonchiffon; ">
              <p style="font-size: 0.7em;">XYZ</p>
            
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162); justify-content: flex-end;">
              <p style="font-size: 0.7em;">takle prosem</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: lemonchiffon; justify-self:end;">
              <p style="font-size: 0.7em;">24/12/20 - 10:44:02</p>
            </div>
            <div class="col d-flex justify-content-center" style="background-color: rgb(168, 168, 162);">
              <p style="font-size: 0.7em;">34.2'C/45%</p>
            </div>
            <div class="col col-1 d-flex justify-content-center" style="background-color: lemonchiffon;">></div>

          </div>
        </div>
      
          

        </div>
      </div>

    </div>
  
  </div>
 
</div>

<br>
<br>

<h1>Hello to the world!</h1>
<div class="container" style="background-color: rosybrown; padding: 40px; ">
  <div class="row" style="background-color: salmon;">
    <div class="col col-4">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">
            <div style="display: flex; justify-content: space-between;">
              total A
              <i class="fas fa-pen fa-pen-indicateur"  >icon</i>
            </div>
            
          </h5>
      
          <p class="card-text">21 8990</p>

        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title shadow">total B title</h5>
      
          <p class="card-text">21 8990</p>

        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title py-5 shadow">total C</h5>
      
          <p class="card-text">21 8990</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color: skyblue;" >
    <div class="col col-8">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">total B title</h5>
      
          <p class="card-text">21 8990</p>

        </div>
      </div>

    </div>
    <div class="col col-4">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">total C</h5>
      
          <p class="card-text">21 8990</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color: rgb(135, 235, 143);" >
    <div class="col col-12">
      <div class="card border-secondary mb-3 rounded-0" >
        <div class="card-body">
          <h5 class="card-title">total B title
           
          </h5>
      
          <p class="card-text">21 8990</p>

        </div>
      </div>

    </div>
  
  </div>
 
</div>



